.embedded {  
 float: right;
}

.button-widget-preview {
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857;
    background-color: transparent;
    border-color: #25255B;
    color: #25255B;
    padding: 5px 10px;
    border-width: 2px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    width: 80px;
}

#standard-preview div:hover, .standard-preview-active {
    background-color: #25255B;
    color: white !important;
}

.button-widget-preview:hover {
    background-color: #25255B;
    color: #FFF;

}

.main-widget {
    min-height: 550px;
    height: 100%;
    float: right;
    background-color: #EAEAEA;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .6em;
    line-height: 20px;
    margin-top: 0px;
    color: #444;
}

.head-widget h2{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 20px;
  color: #444;
}

.active-widget {
    display: none;
    height: 0px;
    width:0px;
    margin: 0px;
}
.embedded {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.6em;
    margin: 0 15px;
    padding: 5px;
}

.embedded > p {
  font-size: 14px;
  margin: 15px 0px 5px; 
}
#standard-preview {
    vertical-align: middle;
}

#standard-preview ul {
    list-style: none;
}
#standard-preview div {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#standard-preview {
    display: inline-flex;
    width: 100%;
}
#standard-preview div {
    border: 1px solid transparent;
    text-align: center;
    border-color: #25255B;
    border-width: 2px;
    color: #25255B;
    width: 50px;
    height: 30px;

    vertical-align: middle;
    margin: 10px auto ;
font-size: 10px;

}


#standard-preview #large {
    width: 90px;
    height: 55px;
}

#standard-preview #mini {
     width: 45px;
     height: 55px;
 }

#standard-preview div p {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
}

.code-embedded {
    width: 96%;
    resize: none;
    margin: 0px 0px 6px 0px;
    font-size: 12px;
}

.separation  {
  margin-bottom: 6px;
}
.main-widget input {
    width: 60px;
    margin: 5px 0px;
}

.main-widget a.button {
    color: #FFF;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05em;
    display: inline-block;
    margin: 20px 10px;
    font-size: 18px;
    width: 90px;
    text-align: center;
}

.button-green {
    background-color: #00CC79;
}
.button-orange {
    background-color: #F06226;
}
.main-widget form {
    width: 260px;
    margin: 5px auto;
}
.border {
    border-color: #888;
    border-width: 1px;
    border-style: groove;
    border-radius: 3px;
    background-color: white;
}

.resize {
    margin-left: auto;
    margin-right: auto;
    display: inline-table;
}

.resize p {
    display: inline-block;
    margin: 5px;
}
.buttons {
    margin-top: 10px;
    width: 100%;
    display: inline-flex;
}
.buttons a {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.head-widget h2{
    background-color: #151F31;
    color: white;
    margin: 0px;
    padding: 10px 25px;
    font-size: 18px;
}

.main-widget h3{
  font-size: 14px;
}

#banner-value {
  width: 0px;
  margin: auto;
  top: 0px;
  background-color: white;
}

#banner-msg {
  display: inline;
  font-weight: bold;
  margin: 0px 5px 0px 0px ;
}

#banner {
  margin: 20px 0px 0px;
}


@media  all and (max-width: 520px) {
.main-widget {
    height: 100%;
    background-color: #EAEAEA;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .6em;
    line-height: 20px;
    margin-top: 0px;
    color: #444;
    position: relative;
    width: 100%;
}

.main-widget .embedded  {
  float: unset;
}

}
