<html lang="en"><head>
<meta content="text/html;charset=UTF-8" http-equiv="content-type">
<meta charset="utf-8">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<base target="_parent">
<link href="/style.css" media="screen" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
</head>
<body>
<!--h1>{{ c.package }}</h1-->
<div class="module-content">
  <h1>{{c.package.title}}</h1>
  <div class="notes embedded-content">
    <p>{{c.package.notes}}</p>
  </div>
  <span class="insert-comment-thread"></span>
  <section class="resources">
    <h3>Datos y Recursos</h3>
    <ul class="resource-list">
      {% for resource in c.package.resources %}
      <li class="resource-item" data-id="{{resource.id}}">
      <a class="heading" href="{{resource.url}}" title="{{resource.name}}">
        {{resource.name}}<span class="format-label" property="dc:format" data-format="{{resource.format|lower}}"> {{resource.format}}</span>
      </a>
      </li>
      {%- endfor %}
    </ul>
  </section>
  <section class="tags">
    <h3>Tags</h3>
    <ul class="tag-list well">
      {% for tag in c.package.tags %}
      <li>
      <a class="tag" href="/dataset?tags={{tag.name}}">{{tag.display_name}}</a>
      </li>
      {%- endfor %}
    </ul>
  </section>
  <section class="additional-info">
    <h3>Información Adicional</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Campo</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row" class="dataset-label">Estado</th>
        <td class="dataset-details">{{c.package.state}}</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
<div class="footer">
    <img src="/datamx.gif" class="img-footer" />
</div>
</body>
</html>
