<html lang="en"><head>
<meta content="text/html;charset=UTF-8" http-equiv="content-type">
<meta charset="utf-8">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<base target="_parent">
<link href="/style.css" media="screen" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
</head>
<body>
<!--h1>{{ c.package }}</h1-->
<div class="module-content">
  {% set pkg = c.package %}

  {% if pkg.private %}
  <span class="dataset-private label label-inverse pull-right">
    <i class="icon-lock"></i>
    {{ _('Private') }}
  </span>
  {% endif %}
  <h1>
    {{ pkg.title or pkg.name }}
    {% if pkg.state.startswith('draft') %}
    [{{ _('Draft') }}]
    {% endif %}
  </h1>
  {% if c.pkg_notes_formatted %}
  <div class="notes embedded-content">
    {{ c.pkg_notes_formatted }}
  </div>
  {% endif %}

  {% snippet "snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

  {% snippet "snippets/tags.html", tags=pkg.tags %}

  {% snippet "snippets/additional_info.html", pkg_dict=pkg %}


</div>
<div class="footer">
  <img src="/datamx.gif" class="img-footer" />
</div>
</body>
</html>
