<!--link rel="stylesheet" type="text/css" href="../../public/style.css"-->
<!--link rel="stylesheet" type="text/css" href="../../public/embedded.css"-->
<div class="main-widget active-widget">
  <div class="head-widget"> 
    <h2>Configura tu widget</h2>
  </div>
  <div class="embedded">
    <p>Inserta este conjunto de datos en tu sitio en formato HTML.</p>
    <h3>Código:</h3>
    <div class="separation">

      <textarea class="code-embedded border" rows="4" >
        <iframe src="http://www.datamx.io/datasets/asegurados-en-el-imss/widget"></iframe>
      </textarea>
    </div>

    <h3>Tipo</h3>
    <div id="standard-preview" class="separation border">
      <div id="mini">
        <p>Mini</p>
      </div>
      <div id="large" class="standard-preview-active">
          <p >Banner</p>
      </div>
    </div>
    <h3>Tamaño personalizado</h3>
    <div class="border separation">
      <form>
        <div class="resize" id="custom-height"><p>Altura</p> <input id="height-widget" type="numeric" value="400"></div>
        <div class="resize" id="custom-width"><p>Anchura</p> <input id="width-widget" type="numeric" value="900"></div>
      </form>
    </div>
    <div id="banner">
	<p id="banner-msg">Imagen de fondo</p>
        <input id="banner-value"  class="checkbox "type="checkbox"> 
    </div>
    <div class="buttons">
      <a id="visual" class="button-widget-preview ">Visualizar</a>
      <a class="button-widget-preview toggle-widget" >Hecho</a>
    </div>
  </div>
</div>
