<!--link rel="stylesheet" type="text/css" href="../../public/style.css"-->
<!--link rel="stylesheet" type="text/css" href="../../public/embedded.css"-->
<div class="main-widget active-widget">
  <div class="head-widget"> 
    <h2>Insertar</h2>
  </div>
  <div class="embedded">
    <p>Código para agregarlo a tu sitio</p>
    <h3>Inserta este conjunto de datos</h3>
    <div class="separation">
      <ul class="style-widget">
        <li class="style-widget ">Minimalista</li>
        <li class="style-widget">Banner</li>
      </ul>

      <textarea class="code-embedded border" rows="4" >
<iframe src="http://www.datamx.io/datasets/asegurados-en-el-imss/widget"></iframe>
      </textarea>
    </div>

    <h3>Tamaño</h3>
    <div id="standard-preview" class="separation border">
      <div id="mini">
        <p >300x423</p>
      </div>
      <div id="large">
          <p >900x400</p>
      </div>
    </div>
    <h3>Tamaño personalizado</h3>
    <div class="border separation">
      <form>
        <div class="resize" id="custom-height"><p>Altura</p> <input type="numeric"></div>
        <div class="resize" id="custom-width"><p>Anchura</p> <input type="numeric"></div>
      </form>
    </div>
    <div class="buttons">
      <a class="buttom ">Visualizar</a>
      <a class="buttom toggle-widget" >Hecho</a>
    </div>
  </div>
</div>
